@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  body, html{
      height:100%;
      margin: 0;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      line-height: 1.8em;
      width: 100%;
  }
  nav{
      background: #f7f8fa;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      padding: 0 100px;
      width: 100%;
    }
    nav .logo{
      color: black;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    nav .logo a{
      text-decoration: none;
    }
    nav .logo a:hover{
      text-decoration: none;
    }
    nav .nav-items{
      display: flex;
      flex: 1;
      padding: 0 0 0 40px;
    }
    nav .nav-items li{
      list-style: none;
      padding: 0 15px;
    }
    nav .nav-items li a{
      color: black;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
    }
    nav .nav-items li a:hover{
      color: gray;
    }
    nav form{
      display: flex;
      height: 40px;
      padding: 2px;
      background: white;
      min-width: 18%!important;
      border-radius: 2px;
      border: 1px solid black; 
    }
    nav form .search-data{
      width: 100%;
      height: 100%;
      padding: 0 10px;
      color: black;
      font-size: 17px;
      border: none;
      font-weight: 500;
      background: none;
    }
    nav form button{
      padding: 0 15px;
      color: #fff;
      font-size: 17px;
      background: black;
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
    nav form button:hover{
      background: gray;
    }
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      width: 40px;
      text-align: center;
      margin: 0 50px;
      font-size: 18px;
      color: black;
      cursor: pointer;
      display: none;
    }
    nav .menu-icon span,
    nav .cancel-icon,
    nav .search-icon{
      display: none;
    }
    @media (max-width: 1290px) {
      nav{
          padding: 0 50px;
      }
      nav .nav-items li a{
          font-size: 16px;
      }
      nav form .search-data{
          font-size: 15px;
      }
    }
    @media (max-width: 1245px) {
      nav{
        padding: 0 50px;
      }
      nav .nav-items li a{
          font-size: 15px;
      }
      nav form .search-data{
          font-size: 20px;
      }
    }
    @media (max-width: 1244px) {
      nav{
          padding: 0 50px;
        }
        nav .nav-items li a{
            font-size: 15px;
        }
        nav .logo{
          font-size: 25px;
        }
        nav form .search-data{
            font-size: 18px;
        }
    }
    @media (max-width: 1205px) {
      nav{
          padding: 0 50px;
        }
        nav .nav-items li a{
            font-size: 15px;
        }
        nav .logo{
          font-size: 25px;
        }
        nav form .search-data{
            font-size: 15px;
        }
    }
    @media (max-width: 1170px){
      nav{
        padding: 0px;
      }
      nav .logo{
        flex: 2;
        text-align: center;
      }
      nav .nav-items{
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: white;
        display: inline-block;
        transition: left 0.3s ease;
      }
      nav .nav-items.active{
        left: 0px;
      }
      nav .nav-items li{
        line-height: 40px;
        margin: 30px 0;
      }
      nav .nav-items li a{
        font-size: 15px;
      }
      nav form{
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
      }
      nav form.active{
        top: 95px;
        opacity: 1;
        pointer-events: auto;
      }
      nav form:before{
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: black;
        margin: -20px 0 0;
      }
      nav form:after{
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: black;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      nav .menu-icon{
        display: block;
      }
      nav .search-icon,
      nav .menu-icon span{
        display: block;
      }
      nav .menu-icon span.hide,
      nav .search-icon.hide{
        display: none;
      }
      nav .cancel-icon.show{
        display: block;
      }
    }
    @media (max-width: 980px){
      nav .menu-icon,
      nav .cancel-icon,
      nav .search-icon{
        margin: 0 20px;
      }
      nav form{
        right: 30px;
      }
    }
    @media (max-width: 350px){
      nav .menu-icon,
      nav .cancel-icon,
      nav .search-icon{
        margin: 0 10px;
        font-size: 16px;
      }
    }
  
.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #f5f5f5;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
.form form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: gray;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}


footer{
    background-color: black;
    height: 150px;
    width: auto;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    color: #fff;
}
.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
}
.footercontent h4{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 3rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
    width: 40%;
    justify-content: space-around;
}
.footercontent .socials li{
    list-style: none;    
    
}
.footercontent .socials a{
    text-decoration: none;
    color: white;
}
.footercontent .socials a i{
    font-size: 1.3rem;
    transition: all 0.3s;
}
.footercontent .socials a i:hover{
    transform: translateY(-5px);
}
.footercontent .socials a:hover i{
    color: gray;
    transition: all .5s;
}
.copyright{
    background-color:black;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
    padding: 0px 14%;
}

